.login-alert
{
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.login-title
{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.login-form
{
  border: 1px solid #eee;
  max-width: 350px;
  padding: 20px 40px;
  border-radius: 10px;
  margin: 70px auto !important;
}

.login-form-group
{
  margin-top: 15px;
}
