<div class="container">
  <div class="login-form">
    <div class="login-title">
      Sign in
    </div>
    <div *ngIf="loginError || networkError" class="row alert alert-danger login-alert">
      {{ msg }}
    </div>
    <form class="container">
      <div class="form-group" [ngClass]="{'has-danger': loginError}">
        <label>Username</label>
        <input type="text" class="form-control" [ngClass]="{'form-control-danger': loginError}" placeholder="Enter your Username" [(ngModel)]="uname" name="uname" />
      </div>
      <div class="form-group" [ngClass]="{'has-danger': loginError}">
        <label>Password</label>
        <input type="password" class="form-control" [ngClass]="{'form-control-danger': loginError}" placeholder="Enter your Password" [(ngModel)]="pwd" name="pwd"/>
      </div>
      <div class="form-group">
        <label>Branch</label>
        <select class="form-control" [(ngModel)]="branch" name="branch">
          <option *ngFor="let branch of branches" id="{{branch.id}}" [(ngValue)]="branch.id" name="branch">
            {{branch.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-dark" (click)="login()" [disabled]="!uname || !pwd || !branch" >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
