<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target=".collapse" aria-controls="navbar-left" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbar-left">
    <a class="navbar-brand" routerLink="login">POS</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="user">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="branch">Branch</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Report
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li>
        <a class="nav-link" href="#">Setting</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbar-right">
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item" *ngIf="!(loggedIn | async)">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item dropdown" *ngIf="(loggedIn | async)">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello, {{user.name}}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
